/configure
/build-aux/missing
/build-aux/install-sh
/autom4te.cache
/aclocal.m4
/config.log
/Makefile.in
*.go
/config.status
/Makefile
/gl/config.scm
/build-aux/texinfo.tex
/doc/guile-opengl.info
/doc/guile-opengl.info-*
/env
/doc/.dirstamp
/build-aux/test-driver
/doc/guile-opengl.aux
/doc/guile-opengl.cp
/doc/guile-opengl.fn
/doc/guile-opengl.fns
/doc/guile-opengl.ky
/doc/guile-opengl.log
/doc/guile-opengl.pg
/doc/guile-opengl.toc
/doc/guile-opengl.tp
/doc/guile-opengl.vr
/doc/gendocs_template
/doc/stamp-vti
/doc/version.texi
/build-aux/mdate-sh
/doc/manual
/INSTALL
