/configure
/build-aux/missing
/build-aux/install-sh
/autom4te.cache
/aclocal.m4
/config.log
/Makefile.in
*.go
/config.status
/Makefile
/gl/config.scm
/build-aux/texinfo.tex
/doc/guile-opengl.info
/doc/guile-opengl.info-*
/env
/doc/.dirstamp
/build-aux/test-driver
